# PDF files in the `build' dir
build/*.pdf

# Markdown output of date-formatter.py
schedules/*.md

# temporary files
temp*

# zettelgeist utility files
index.db
tags.txt*
mentions.txt*

# LibreOffice lock files
.~lock.*#
